<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/attempts-styles.css">
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">

    <title>Rewards</title>
</head>
<body>
    <%- include("../../partials/navbar") %>

    <div class="container">
      <h1> Rewards Log</h1>
      <ul>
      <% logRewards.forEach(item => { %>
       
          <li><%= item.claimed.toLocaleDateString() %> @ <%= item.claimed.toLocaleTimeString('en-US') %>: <b><%=  item.username %></b> claimed "<%= item.reward %>"" with <%= item.points %> points.</li>
        
      <% }) %>
    </ul>
    </div>
    <div class="container">
        <h1>Rewards</h1> 

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Points</th>
                <th scope="col">Claim</th>
              </tr>
            </thead>

            <tbody>
                <% allRewards.forEach(item => { %>
              <tr>
                <td class="rewardName"><%= item.rewardName %></td>
                <td class="rewardDescription"><%= item.description %></td>
                <td class="rewardRequirement"><%= item.requirement %></td>
                <td class="claimBtn btn btn-success btn-sm">Claim</td>
              </tr>
               <% }) %>
            </tbody>
          </table>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="/javascript/rewards.js"></script>
</html>