<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/attempts-styles.css">
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">

     <style>
      a{
        text-decoration: none;
      }
      .imageCSS {
        height: 90%;
        max-height: 90%;
        position: fixed;
        border: solid 2px;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
      }
.imageClose{
  /* position: relative; */
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
     </style>
    <title>Rewards</title>
</head>
<body>
    <%- include("../../partials/navbar") %>
    <%- include("../../partials/rewardLog") %>

    <div class="container">
        <h1>Rewards</h1> 

        <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Points</th>
                <th scope="col">Claim</th>
                <% if (currentUser.admin) { %>
                  <th scope="col"><%= "Edit" %></th>
                  <th scope="col"><%= "Delete" %></th>
                <% } %>
              </tr>
            </thead>

            <tbody>
                <% allRewards.forEach(item => { %>
              <tr>
                <% if (item.link) { %>
                  <td class=rewardImage><img src="https://drive.google.com/uc?export=view&id=<%= item.link %>" style="width:42px; height: 42px"></td>
                  <div class="imagePop hidden">
                    <div class="container">
                      <img class="imageCSS" src="https://drive.google.com/uc?export=view&id=<%= item.link %>">
                      <button class="imageClose btn btn-danger">x</button>
                   </div>
                  </div>
                <% }  else { %>
                  <td></td>
                <% } %>
                <td class="rewardName"><%= item.rewardName %></td>
                <td class="rewardDescription"><%= item.description %></td>
                <td class="rewardRequirement"><%= item.requirement %></td>
                <td class="claimBtn btn btn-success btn-sm">Claim</td>
                <% if (currentUser.admin) { %>
                  <td><a href="/user/points/rewards/edit/<%= item._id %>"><%= "⚙️" %></a></td>
                  <td><a href="/user/points/rewards/delete/<%= item._id %>"><%= "Delete" %></a></td>
                <% } %>
              </tr>
               <% }) %>
            </tbody>
          </table>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="/javascript/rewardsClaim.js"></script>
</html>