  <div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">EpicMind</a>
        <% if ( username ) { %>
          <% username = username.split(" ") %>
          <li class="text-white nav-link active" id="userName">
            <% let usernameArr = [] %>
            <% username.forEach(item => { %>
              <% usernameArr.push(item.charAt(0).toUpperCase() + item.slice(1, item.length)) %>
            <% }) %>
            <!-- <%= username[0].charAt(0).toUpperCase() + username[0].slice(1, username[0].length).toLowerCase() %> <%= username[1].charAt(0).toUpperCase() + username[1].slice(1, username[1].length).toLowerCase() %></li> -->
            <%= usernameArr.join(" ") %>
            </li>
        <% } else { %>
          <li class="text-white nav-link active" id="userName"></li>
        <% } %>
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-additional">
            <li class="nav-item">
              <a class="nav-link active" href="/arithmetic">| Arithmetic |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/attempts"target="_blank">| Results |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/attempts/highscore"target="_blank">| All Time Highscore |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/attempts/monthly-highscore"target="_blank">| Monthly Highscore |</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">  
              <% if (currentUser.points) { %>
                <div class="nav-link active">[Points: <%= currentUser.points %>]</div>
              <% } %>
              </li>
            <li class="nav-item">  
            <% if (currentUser.admin) { %>
              <a class="nav-link active" href="/user">Users</a>
            <% } %>
            </li>
            <li class="nav-item">
              <% if (authenticate.login) { %>
                <a class="nav-link active" href="/user/logout">Logout</a>
              <% } else { %>
                <a class="nav-link active" href="/user/login">Login</a>
              <% } %>
            </li>
            <li class="nav-item">
              <% if (authenticate.login) { %>
                <a class="nav-link active" href="/user/edit/<%= currentUser._id %>">⚙️</a>
              <% } %>
            </li>    
          </ul>
        </div>
        </div>
      </div>
    </nav>