<% if (logRewards)  {%>
<div class="container mt-4">
    <h1> Rewards Log</h1>
    
            <% logRewards.forEach(item => { %>
                <% if (currentUser.admin) { %>
                    <div class="btn btn-danger btn-sm"><a href="/user/rewardLog/delete/<%= item._id %>">X</a></div>
                <% } %>
                <% if (item.points){ %>
                    🔔 <%= item.claimed.toLocaleDateString('en-GB') %> @ <%= item.claimed.toLocaleTimeString('en-US') %>: 👤 <b><%=  item.username %></b> claimed "<%= item.reward %>" with <%= item.points %> points.
               <%  } else { %>
                    🎓 <%= item.claimed.toLocaleDateString('en-GB') %> @ <%= item.claimed.toLocaleTimeString('en-US') %>: 👤 <b><%=  item.username %></b> claimed "<%= item.reward %>"" as a graduation gift.
              <%  } %>
             
                </p>
            <% }) %>
  </div>
  <% } %>