<% if (logRewards)  {%>
<div class="container mt-4">
    <h1> Rewards Log</h1>
    
            <% logRewards.forEach(item => { %>
                🔔 <%= item.claimed.toLocaleDateString('en-GB') %> @ <%= item.claimed.toLocaleTimeString('en-US') %>: 👤 <b><%=  item.username %></b> claimed "<%= item.reward %>"" with <%= item.points %> points.</p>
            <% }) %>
  </div>
  <% } %>