<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
  <link rel="stylesheet" href="/css/navbar-styles.css">
   <link rel="icon" href="/images/favicon.ico?v=1.1">
  <style>
      .single_file {
          display: inline-block;
      }
  </style>
  <title>Exam Papers [ List ]</title>
</head>
<body>
    <%- include("../partials/navbar") %>
 <div class="container my-3">
     <h1>List</h1>
     <a href="/exam/new" class="btn btn-primary">New Paper</a>
     <a href="/exam/table" class="btn btn-secondary">Table</a>
     <form action="/exam/list" method="get">
        <div class="row mt-3">
            <div class="mb-3 col-1">
                <label class="form-label">Subject</label>
                <input type="text" class="form-control" name="subject">
            </div>
            <div class="col-1">
                <label class="form-label">Year</label>
                <input type="text" class="form-control" name="year">
            </div>
            <div class="col-1">
                <label class="form-label">Level</label>
                <input type="text" class="form-control" name="level">
            </div>
            <div class="col-1">
                <label class="form-label">Type</label>
                <input type="text" class="form-control" name="type">
            </div>
            <div class="col-1">
                <label class="form-label">School</label>
                <input type="text" class="form-control" name="school">
            </div>
        </div>
            <button type="submit" class="btn btn-primary mt-1">Filter</button>
     </form>
     <table class="table">
         <thead>
             <tr>
                <td>Subject</td>
                 <td>Year</td>
                 <td>Level</td>
                 <td>Type</td>
                 <td>School</td>
                 <td>Paper</td>
                 <td>Comment</td>
                 <td>Date</td>
                 <td colspan="3">Action</td>
             </tr>
         </thead>
         <% exams.forEach( item => { %>
            <tr>
                <td><%= item.subject %></td>
                <td><%= item.year %></td>
                <td><%= item.level %></td>
                <td><%= item.type %></td>
                <td><a href="<%= item.link %>" target="_blank"><%= item.school %></a></td>
                <td><%= item.paper %></td>
                <td><%= item.comment %></td>
                <td><%= item.date.toLocaleDateString("en-GB") %></td>
                <td><a href="/exam/view/<%= item._id %>" target="_blank">View</a></td>
                <td><a href="/exam/edit/<%= item._id %>" target="_blank">Edit</a></td>
                <td>Delete</td>
            </tr>
         <% }) %>
      
     </table>
 </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>