<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
  <link rel="stylesheet" href="/css/navbar-styles.css">
   <link rel="icon" href="/images/favicon.ico?v=1.1">

  <title>Exam Papers [ Table ]</title>
</head>
<style>
    .sticky {
        position: sticky;
        top: 1%;
    }
</style>
<body>
<%- include("../partials/navbar") %>

 <div class="container my-3">
    <a href="/exam/list" class="btn btn-secondary">List</a>
    <a href="#Math" class="btn btn-primary sticky">Math</a>
    <a href="#Science" class="btn btn-success sticky">Science</a>
    <% const thisYear = new Date().getFullYear() %>
    <% const subjects = ["Math", "Science"] %>
    <% subjects.forEach(subject => { %>
        <% if (subject == "Math") { %>
            <h1 id="Math"><u>Math</u></h1>
        <% } %>
        <% if (subject == "Science") { %>
            <h1 id="Science"><u>Science</u></h1>
        <% } %>
        <div class="row">
            <% for(let i = 0; i < 5; i++){ %>
                <h1><%= thisYear-i %></h1>
                <hr>
                        <% const type = ["CA1", "SA1", "CA2", "SA2"] %>  
                        <% const level = ["P1", "P2", "P3", "P4", "P5", "P6"] %>
                        <% type.forEach(typing => { %>
                            <div class="col">
                            <h3><%= typing %></h3>
                            <% level.forEach(itemLevel => { %>
                                <h3><%= itemLevel %></h3>
                               <ul>
                                <% exams.forEach(exam => { %>
                                    <% if (exam.year == thisYear-i && typing == exam.type && exam.subject == subject && itemLevel == exam.level) { %>
                                        <li><a href="<%= exam.link %>" target="_blank"><%= exam.school %>
                                            <% if (exam.paper) { %>
                                                (<%= exam.paper %>)
                                        <% } %>
                                    </a></li>
                                    <% } %>
                                <% }) %>
                                </ul>
                            <% }) %>
                        </div>
                        <% }) %>
                        <div class="col">
                        <h3>Others</h3>
                        <ul>
                        <% exams.forEach(exam => { %>
                            <% if (exam.year == thisYear-i && !type.includes(exam.type) && exam.subject == subject) { %>
                                <li><a href="<%= exam.link %>" target="_blank"><%= exam.school %>
                                    <% if (exam.paper) { %>
                                        (<%= exam.paper %>)
                                <% } %>
                            </a></li>
                            <% } %>
                        <% }) %>
                        </ul>
                        </div>
            <% } %>
              
        </div>
    <%}) %>
   
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>