<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
  <link rel="stylesheet" href="/css/navbar-styles.css">
   <link rel="icon" href="/images/favicon.ico?v=1.1">

  <title>List Exam Papers</title>
</head>
<body>
 <div class="container mt-3">

    <% const thisYear = new Date().getFullYear() %>
    <% const subjects = ["Math", "Science"] %>
    <% subjects.forEach(subject => { %>
        <% if (subject == "Math") { %>
            <btn class="btn btn-primary">Math</btn>
        <% } %>
        <% if (subject == "Science") { %>
            <btn class="btn btn-success">Science</btn>
        <% } %>
        <div class="row">
            <% for(let i = 0; i < 5; i++){ %>
                <h1><%= thisYear-i %></h1>
                <hr>
                        <% const type = ["CA1", "SA1", "CA2", "SA2"] %>  
                        <% type.forEach(typing => { %>
                            <div class="col-2">
                            <h3><%= typing %></h3>
                               <ul>
                                <% exams.forEach(exam => { %>
                                    <% if (exam.year == thisYear-i && typing == exam.type && exam.subject == subject) { %>
                                        <li><a href="<%= exam.link %>" target="_blank"><%= exam.school %>
                                            <% if (exam.paper) { %>
                                                (<%= exam.paper %>)
                                        <% } %>
                                    </a></li>
                                    <% } %>
                                <% }) %>
                            </ul>
                        </div>
                        <% }) %>
                  
            <% } %>
              
        </div>
    <%}) %>
   
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>