<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">
    <title>Questions</title>

<style>
.hidden {
    display:none;
}
.flip-card {
    width: 75vw;
    margin-top: 10%;
    margin-bottom: 10%;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 25px;
}
.flip-card-back {
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    padding: 10px;
    /* overflow: hidden; */
}

.center{
    max-width: 700px;
    /* margin: auto; */
    display: flex;
    align-items: center;
    /* justify-content: center;
    margin-top: 20vh;
    position: absolute;
    /* top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}
img {
    display: block;
    /* overflow: hidden; */
    align-content: center;
       max-width: 50%;
       /* max-height: auto; */
    }
.science-image{
    display: flex;
}

.start, .done {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.answer-bg {
    background-color: #ABF7B1;
}
.question-bg {
    background-color: #b2b2ff;
}
</style>
</head>
<body>
    <%- include("../partials/navbar") %>
   
    <div class="container center mt-4">
        <div class="modeOfUse">
            <p>Mode of use:</p>
            <ul>
                <li>Before attempting, read <a href="/science/questions/extrapractice">"extra practice"</a> to revise previous questions.</li>
                <li>Be honest and <b>write down your answers</b></li>
                <li><b>Do not</b> just read through.</li>
            </ul>
        </div>
        <btn class="btn btn-primary start">Start</btn>
       <% questions.forEach((item, index) => { %>

            <div class="flip-card hidden">
                <div class="flip-card-inner">
                    <div class="card-front">
                        <!-- <div class="card-body"> -->
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <p class="questionID hidden"><%= item._id %></p>
                        <% if (item.imageQ) { %>
                            <div class="science-image">
                                <!-- <iframe src="https://drive.google.com/file/d/<%= item.imageQ %>/preview"></iframe> -->
                                <img src="https://drive.google.com/thumbnail?id=<%= item.imageQ %>&sz=w1000">
                                <!-- <img src="https://lh3.google.com/u/0/d/<%= item.imageQ %>"> -->
                            </div>
                            <% } %>
                        <h5 class="card-title">Question <%= index+1 %>/<%= limit %>:</br></h5>
                        <div class="question"><%= item.question %></div>
                        <!-- <hr> -->
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <div class="btn btn-success answer mt-4">Answer</div>
                        <!-- <div class="btn btn-danger">Don't know.</div> -->
                        <!-- </div> --> 
                    </div>
                    <div class="flip-card-back hidden mt-4">
                        <h5 class="card-title">Topic:</br></h5>
                        <%= item.level %></br>
                        <%= item.topic %></br>
                        <!-- <h5>Subtopic:</br></h5> -->
                        <%= item.subtopic %></br>
                        <% if (item.image) { %>
                        <div class="science-image">
                            <!-- <iframe src="https://drive.google.com/file/d/<%= item.image %>/preview"></iframe> -->
                            <img src="https://drive.google.com/thumbnail?id=<%= item.image %>&sz=w1000">
                        </div>
                        <% } %>
                        <h5>Answer:</br></h5>
                        <div class="answer-bg"><%= item.answer %></div>
                        <h5>Comment:</br></h1>
                        <%= item.comment %>
                        <hr>
                        <div class="buttons hidden">
                            <btn class="btn btn-success correct next">Correct</btn>
                            <btn class="btn btn-danger incorrect next">Incorrect</btn>
                            <!-- <btn class="btn btn-warning next">Next</btn> -->
                        </div>
                      
                    </div>
                </div>
            </div>
       <% }) %>
       <a href="/science/topics" class="btn btn-primary done hidden">Done</a>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="/javascript/card.js"></script>
</html>