<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">
    <title>Science</title>
</head>
<body>
    <%- include("../partials/navbar") %>
    <div class="container">
      <form action="/science/filter" method="/get">
        <div class="row">
          <div class="col-sm-2 my-2">
            <label for="user">Level:</label>
            <input type='text' name="level"></input>
          </div>
          <div class="col-sm-2 my-2">
            <label>Topic:</label>
            <!-- <input type='text' name="topic"></input> -->
            <select class="form-select" name="topic">
              <option selected>Select</option>
              <% topic.forEach(item => { %>
                <option value="<%= item %>"><%= item %></option>
              <% }) %>
            </select>
          </div>
          <div class="col-sm-2 my-2">
            <label>Subtopic:</label>
            <!-- <input type='text' name="topic"></input> -->
            <select class="form-select" name="subtopic">
              <option selected>Select</option>
              <% subtopic.forEach(item => { %>
                <option value="<%= item %>"><%= item %></option>
              <% }) %>
            </select>
          </div>
          <div class="col-sm-2 my-2">
            <label for="setting">Question:</label>
            <input type='text' name="question"></input>
          </div>
          <div class="row">
            <div class="col-1">
             <button type="submit" class="btn btn-primary">Filter</button>
            </div>
            <div class="col-1">
              <a button class="btn btn-danger" href="/science">Clear</a>
             </div>
          </div>

      </form>
    </div>
    <div class="container">
        <h1>All Questions</h1>

        <table class="table">
            <thead>
              <tr>
                <th scope="col" width="25%">Topic</th>
                <!-- <th scope="col">Subtopic</th>
                <th scope="col">Level</th> -->
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                <th colspan="3">Actions</th>
                <!-- <th scope="col">Image</th> -->
              </tr>
            </thead>
            <tbody>

                <% getAllQuestions.forEach(item => { %>
                    <tr>
                      <td>
                        <ul>
                      <li><%= item.level %></li>
                      <li><%= item.topic %></li>
                      <li><%= item.subtopic %></li>
                    </ul>
                    </td>
                        <td>
                          <% if (item.imageQ) { %>
                            <%= "ðŸŒ" %><br>
                            <% } %>
                          <%= item.question %>
                        </td>
                        <td>
                          <% if (item.image) { %>
                            <%= "ðŸŒ" %><br>
                            <% } %>
                            <%= item.answer %>
                          </td>
                          <td>
                            <a href="/science/questions/<%= item._id %>" target="_blank">View</a><br>
                            <a href="/science/questions/edit/<%= item._id %>" target="_blank">Edit</a><br>
                            <a href="/science/questions/delete/<%= item._id %>">Delete</a>
                        </td>
                        <!-- <td><%= item.image %></td> -->
                      </tr>
                <% }) %>
             
           
            </tbody>
          </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</html>