<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">
    <title>Topics</title>
</head>
<body>
    <%- include("../partials/navbar") %>
    <div class="container">
        <h1>Choose your subtopics</h1>

          <form action="/science/questions" method="post">
            <div class="form-group w-25">
                <!-- <div class="col-xs-2"> -->
                    <label for="numberOfQuestions" class="form-label">Number of Questions</label>
                    <input type="number" class="form-control" id="numberOfQuestions" name="numberOfQuestions" value="10">
                <!-- </div> -->
            </div>
        
        <div class="row">
            <div class="col-1">
        <h1>P3</h1>
    </div>
    <div class="col-11">
        <% subtopic_p3.forEach(item => { %>
            <div class="form-check">
                <% if (userScienceSetting.p3 && userScienceSetting.p3.includes(item)){ %>
                    <input class="form-check-input p3_topic" type="checkbox" value="<%= item %>" id="flexCheckChecked" name="subtopic_p3" checked>
                <% } else {%>
                    <input class="form-check-input p3_topic" type="checkbox" value="<%= item %>" id="flexCheckChecked" name="subtopic_p3">
                <% } %>
                    
                     <label class="form-check-label">
                        <%= item %>
                    </label>
            </div>
        <% }) %>
        <btn class="btn btn-secondary p3_topic_btn">Toggle</btn>
    </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-1">
        <h1>P4</h1>
    </div>
    <div class="col-11">
    <% subtopic_p4.forEach(item => { %>
        <div class="form-check">
            <% if (userScienceSetting.p4 && userScienceSetting.p4.includes(item)){ %>
                <input class="form-check-input p4_topic" type="checkbox" value="<%= item %>" id="flexCheckChecked" name="subtopic_p4" checked>
            <% } else {%>
                <input class="form-check-input p4_topic" type="checkbox" value="<%= item %>" id="flexCheckChecked" name="subtopic_p4">
            <% } %>
            <label class="form-check-label">
                <%= item %>
            </label>
            </div>
    <% }) %>
    <btn class="btn btn-secondary p4_topic_btn">Toggle</btn>
</div>
</div>
<hr>
<div class="row">
    <div class="col-1">
        <h1>P5</h1>
    </div>
    <div class="col-11">
        <% subtopic_p5.forEach(item => { %>
            <div class="form-check">
                <% if (userScienceSetting.p5 && userScienceSetting.p5.includes(item)){ %>
                    <input class="form-check-input p5_topic" type="checkbox" value="<%= item %>" id="flexCheckChecked" name="subtopic_p5" checked>
                <% } else {%>
                    <input class="form-check-input p5_topic" type="checkbox" value="<%= item %>" id="flexCheckChecked" name="subtopic_p5">
                <% } %>
                <label class="form-check-label" for="flexCheckChecked">
                  <%= item %>
                </label>
              </div>
        <% }) %>
        <btn class="btn btn-secondary p5_topic_btn">Toggle</btn>
    </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-1">
        <h1>P6</h1>    
    </div>
    <div class="col-11">
        <% subtopic_p6.forEach(item => { %>
            <div class="form-check">
                <% if (userScienceSetting.p6 && userScienceSetting.p6.includes(item)){ %>
                    <input class="form-check-input p6_topic" type="checkbox" value="<%= item %>" id="flexCheckChecked" name="subtopic_p6" checked>
                <% } else {%>
                    <input class="form-check-input p6_topic" type="checkbox" value="<%= item %>" id="flexCheckChecked" name="subtopic_p6">
                <% } %>
                <label class="form-check-label" for="flexCheckChecked">
                    <%= item %>
                </label>
                </div>
        <% }) %>
        <btn class="btn btn-secondary p6_topic_btn">Toggle</btn>
    </div>
    </div>
    <hr>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
    let btnP3 = 0
    let btnP4 = 0
    let btnP5 = 0
    let btnP6 = 0

    const levels = ["p3", "p4", "p5", "p6"]
    levels.forEach(item => {
        document.querySelector(`.${item}_topic_btn`).addEventListener( "click", function(e){
            console.log("click")
            const checkbox = document.querySelectorAll(`.${item}_topic`)
            
            if (checkbox[0].checked == true){
                for(let i = 0; i< checkbox.length; i++){
                    checkbox[i].checked = false
                }
            } else {
                for(let i = 0; i< checkbox.length; i++){
                    checkbox[i].checked = true
                }
            }
        })
    })
 
</script>

</html>