<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
  <link rel="stylesheet" href="/css/navbar-styles.css">
   <link rel="icon" href="/images/favicon.ico?v=1.1">

  
  <title>All users</title>
</head>
<body>
  <%- include("../partials/navbar"); %>

  <div class="container mt-3">
  <h1>All Lessons</h1>
  <table class="table text-center">
      <th scope="col">Outlet</th>
      <th scope="col">Day</th>
      <th scope="col">Time</th>
      <th scope="col">Slot</th>
      <th colspan="2">Actions</th>

      <% lessons.forEach(item => { %>
        <tr>
            <td><%= item.outlet %></td>
            <td><%= item.day %></td>
            <td><%= item.time %></td>
            <td><%= item.slot %></td>
            <td><a href="lesson/edit/<%= item._id%>">Edit</a></td>
            <td><a href="lesson/delete/<%= item._id %>">Delete</td>
        </tr>
      <% }) %>

  </table>
 
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<!-- <script src="/javascript/confirmation.js"></script> -->
</html>