<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">
    <title>View All Trials</title>
</head>

<style>
 .center {
   /* display: flex; */
   max-width: 700px;
    align-items: center;
 }
</style>
<body>
  <%- include("../partials/navbar") %>

  <div class="container">
  <% if (getAllTrials.length) { %>
    <table class="table">
        <th scope="col">Filled on</th>
        <th scope="col">Interest</th>
         <th scope="col">Student</th>
         <th scope="col">Parent / Guardian One</th>
         <th scope="col">Parent / Guardian Two</th>
         <th scope="col">Questions</th>
         <th scope="col" colspan="3">Actions</th>
      
         
         <% getAllTrials.forEach(item => { %>
          <% const school = item.school.split(" ").join("+") %>
          <% if (item.trialSession != true) { %>
              <tr>
                <td><%= item.filledIn.toLocaleTimeString('en-US') %></td>
                <td><%= item.outlet %></br>
                  <%= item.address %></br>
                  <a href="https://www.google.com/maps/place/Singapore+<%= item.postal %>" target="_blank"><%= item.postal %></a></br>
                  <%= item.timing %></br>
                  <% if (item.otherTiming) { %>
                    <span class="text-danger">Other: <%= item.otherTiming %></span></br>
                  <% } %>
                <% if (item.subject.length > 1) { %>
              
                    <ul>
                        <% item.subject.forEach(item => { %>
                          <li><%= item %></li>
                        <% }) %>
                    </ul>
                  </br>
                  <% } else { %>
                    <%= item.subject %></br>
                  <% } %>
                  </td>
                <td><%= item.childName %> <%= item.childSurname %> ( Age: <%= new Date().getFullYear() - item.DOB.getFullYear() %> )</br>
                  <%= item.level %></br>
                  <%= item.gender %></br>
                  
                  <a href="https://www.google.com/maps/search/<%= school %>" target="_blank"><%= item.school %></a></br>
                </td>
                <td>
                  <%= item.parentOneName %> <%= item.parentOneSurname %> (<%= item.roleOne %>)</br>
                  <%= item.contactOne %></br>
                  <%= item.emailOne %></br>
                </td>
                <td>
                  <% if (item.parentTwoName) { %>
                    <%= item.parentTwoName %> <%= item.parentTwoSurname %> (<%= item.roleTwo %>)</br>
                    <%= item.contactTwo %></br>
                  <% } %>
                </td>
                <td>
                  Recent results: <%= item.questionA %></br>
                  Homework: <%= item.questionB %></br>
                  Learning Disabilities: <%= item.questionC %></br>
                  First time: <%= item.questionD %></br>
                  Discipline: <%= item.questionE %></br>
                  Physical Punishment: <%= item.questionF %></br>
    
                  </td>
                  <td><a href="trial/edit/<%= item._id %>">Edit</a></td>
                  <td><a href="trial/delete/<%= item._id %>">Delete</a></td>
                  <td><a href="user/signuptrial/<%= item.id %>">Trial</a></td>
                </tr>
            <% } %> 
          <% }) %>
          
          <% getAllTrials.forEach(item => { %>
            <% const school = item.school.split(" ").join("+") %>
            <% if (item.trialSession == true) { %>
                <tr class="table-secondary">
                  <td><%= item.filledIn.toLocaleTimeString('en-US') %></td>
                  <td><%= item.outlet %></br>
                    <%= item.address %></br>
                    <a href="https://www.google.com/maps/place/Singapore+<%= item.postal %>" target="_blank"><%= item.postal %></a></br>
                    <%= item.timing %></br>
                    <% if (item.otherTiming) { %>
                      <span class="text-danger">Other: <%= item.otherTiming %></span></br>
                    <% } %>
                  <% if (item.subject.length > 1) { %>
                
                      <ul>
                          <% item.subject.forEach(item => { %>
                            <li><%= item %></li>
                          <% }) %>
                      </ul>
                    </br>
                    <% } else { %>
                      <%= item.subject %></br>
                    <% } %>
                    </td>
                  <td><%= item.childName %> <%= item.childSurname %> ( Age: <%= new Date().getFullYear() - item.DOB.getFullYear() %> )</br>
                    <%= item.level %></br>
                    <%= item.gender %></br>
                    <a href="https://www.google.com/maps/search/<%= school %>" target="_blank"><%= item.school %></a></br>
                  </td>
                  <td>
                    <%= item.parentOneName %> <%= item.parentOneSurname %> (<%= item.roleOne %>)</br>
                    <%= item.contactOne %></br>
                    <%= item.emailOne %></br>
                  </td>
                  <td>
                    <% if (item.parentTwoName) { %>
                      <%= item.parentTwoName %> <%= item.parentTwoSurname %> (<%= item.roleTwo %>)</br>
                      <%= item.contactTwo %></br>
                    <% } %>
                  </td>
                  <td>
                    Recent results: <%= item.questionA %></br>
                    Homework: <%= item.questionB %></br>
                    Learning Disabilities: <%= item.questionC %></br>
                    First time: <%= item.questionD %></br>
                    Discipline: <%= item.questionE %></br>
                    Physical Punishment: <%= item.questionF %></br>
      
                    </td>
                    <td><a href="trial/edit/<%= item._id %>">Edit</a></td>
                    <td><a href="trial/delete/<%= item._id %>">Delete</a></td>
                    <td><a href="user/signuptrial/<%= item.id %>">Trial</a></td>
                  </tr>
              <% } %> 
            <% }) %>
     </table>
  <% } else { %>
<h1> Empty </h1>
  <% } %> 
</div>
 
 
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</html>