<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">
    <title>Form</title>
</head>
<style>
  .message {
    background-color:#f8d7da;
    margin-top: 1%;
    margin-bottom: 1%
  }
  .focus {
    background-color:#f8d7da;
  }

</style>
<body>
  <%- include("../partials/navbar") %>
  <div class="container message">
    <% if (message) { %>

     <%= message %>
    <% } %>
  </div>
    <!-- <div class="container">
        <h1>Please choose the part that is relevant to you.</h1>
        <p>❗️ Note that there is no free trial for private home tuition. Only available at Epicmind Centres.</p>
        <p>This form is for Primary level Math and Science.</p>
        <p>Before filling in the <a href="#form">form</a>, please read our rules and regulations.</p>
        <div class="container mb-3">
          <p><a class="btn btn-primary me-3" href="#private">Private</a><a href="#centre" class="btn btn-primary">Centre</a></p>
          <h1 id="private">Rules and Regulations for <u>Private Home Tuition</u>.</h1>
          <li>There is no free trial. Trial is priced at $50 for an hour.</li>
          <li>Each session is $100 for 2 hours.</li>
          <li>Fees for the month are to be paid in full before / on the first lesson of the month.</li>
          <li>Missed lessons are to be made up via Zoom which would expire within a month of occurence and cannot be used to offset next payment.</li>
      </div> -->
      <div class="container mb-3">
        <h1 id="centre">Rules and Regulations at <u>Epicmind Centres</u>.</h1>
        <ul>
          <li><h4>Payment and fees</h4></li>
          <div class="ms-3">
              <p>Please check with the admin staff as the amount is subjected to change.</p>
          </div>
          <li><h4>Class Size</h4></li>
            <div class="ms-3">
              <p>3 to 5 students.</p>
              <p>A maximum size of 3 but allow 2 more students for either extra or make up lessons.</p>
            </div>
          <li><h4>Absence / Sick</h4></li>
            <div class="ms-3">
              <p>Please inform the tutor at least 2 hours in advance and arrange for make up.</p>
            </div>
          <li><h4>Make up lessons</h4></li>
            <div class="ms-3">
              <p>Make up lessons will expire within 1 month of occurrence and cannot be used to offset next month's fees.</p>
            </div>
          <li><h4>Public Holiday</h4></li>
            <div class="ms-3">
              <p>Assume that classes will still continue except for Chinese New Year or unless specificied otherwise.</p>
              <p>If you choose to not attend, please inform and arrange for make up.</p>
            </div>
          <li><h4>Bringing forward of lessons</h4></li>
          <div class="ms-3">
              <p>Lessons from school holidays period would usually be brought forward to the earlier months to better prepare your child for the upcoming exams.</p>
              <p>Those "extra" lessons will only need to be paid during its actual month.</p>
              <p><i>eg. Lessons from June Holidays brought forward into May only needs to be paid when June comes around.</i></p>
          </div>
         </ul>
        </div>
    </div>
    <div class="container mb-3" id="form">
      <h1>Form</h1>
      <% if (clone && clone.edit == 1) { %>
        <form action="/trial/save/<%= clone._id%>" method="post" >
      <% } else { %>
        <form action="/trial/new" method="post">
      <% } %>
     
        <div class="mb-3">
          <label for="outlet" class="form-label focus" >Outlet*</label>
          <select class="form-select" aria-label="Default select example" name="outlet" id="slct1">
            <% if (clone) { %>
              <option value="<%= clone.outlet %>" selected><%= clone.outlet %></option>
             <% } else { %>
              <option selected value="">Choose an outlet</option>
             <% } %> 
              
          </select>
        </div>
        <div class="mb-3">
          <div class="toapayoh" style="display: none;">
            <% toapayoh.forEach(item => { %>
              <% if (item.slot != 0) { %>
                <%= item.day %>, <%= item.time %>;
              <% } %> 
            <% }) %>
          </div>
          <div class="hougang" style="display: none;">
            <% hougang.forEach(item => { %>
              <% if (item.slot != 0) { %>
                <%= item.day %>, <%= item.time %>;
              <% } %> 
            <% }) %>
          </div>
        
          <label for="outlet" class="form-label focus"  >Timing*</label>
          <select class="form-select" aria-label="Default select example" name="timing" id="slct2">
            <% if (clone) { %>
              <option value="<%= clone.timing %>" selected><%= clone.timing %></option>
             <% } else { %>
              <option selected value="">Choose a time slot.</option>
             <% } %> 
          </select>
          <div><b>*Note that the free trial timing reflected are identical to the available slots.</b></div>
        </div>
        <div class="mb-3">
          <label for="otherTiming" class="form-label" name="otherTiming">Other Timing</label>
           <input type="text" class="form-control" id="OtherTiming" name="otherTiming" placeholder="If there is no situable timing. Please fill in your preferred day and timing. Thanks!" <% if (clone) { %>
             value="<%= clone.otherTiming %>"
          <% } %>>
        </div>
        <div class="mb-3">
          <!-- <label for="subject" class="form-label" name="subject">Subject</label> -->
          <label class="form-label focus">Subject*</label>
        </br>
            <% if (clone && clone.subject) { %>
              <%= console.log("Cloned") %>
                <% if (clone.subject.includes("Standard Math")) { %>
                  <input class="form-check-input ms-3" type="checkbox" value="Standard Math" id="flexCheckDefault" name="subject" checked>
                  <label class="form-check-label" for="flexCheckDefault">Standard Math</label>
                <% } else { %>
                  <input class="form-check-input ms-3" type="checkbox" value="Standard Math" id="flexCheckDefault" name="subject" >
                  <label class="form-check-label" for="flexCheckDefault">Standard Math</label>
                <% } %> 
              </br>
                <% if (clone.subject.includes("Foundation Math")) { %>
                  <input class="form-check-input ms-3" type="checkbox" value="Foundation Math" id="flexCheckDefault" name="subject" checked>
                  <label class="form-check-label" for="flexCheckDefault">Foundation Math</label>
                <% } else { %>
                  <input class="form-check-input ms-3" type="checkbox" value="Foundation Math" id="flexCheckDefault" name="subject" >
                  <label class="form-check-label" for="flexCheckDefault">Foundation Math</label>
                <% } %> 
              </br>
                <% if (clone.subject.includes("Standard Science")) { %>
                  <input class="form-check-input ms-3" type="checkbox" value="Standard Science" id="flexCheckDefault" name="subject" checked>
                  <label class="form-check-label" for="flexCheckDefault">Standard Science</label>
                <% } else { %>
                  <input class="form-check-input ms-3" type="checkbox" value="Standard Science" id="flexCheckDefault" name="subject" >
                  <label class="form-check-label" for="flexCheckDefault">Standard Science</label>
                <% } %> 
              </br>
                <% if (clone.subject.includes("Foundation Science")) { %>
                  <input class="form-check-input ms-3" type="checkbox" value="Foundation Science" id="flexCheckDefault" name="subject" checked>
                  <label class="form-check-label" for="flexCheckDefault">Foundation Science</label>
                <% } else { %>
                  <input class="form-check-input ms-3" type="checkbox" value="Foundation Science" id="flexCheckDefault" name="subject" >
                  <label class="form-check-label" for="flexCheckDefault">Foundation Science</label>
                <% } %> 
               
            <% } else { %>
                <input class="form-check-input ms-3" type="checkbox" value="Standard Math" id="subject1" name="subject">
                <label class="form-check-label" for="flexCheckDefault">Standard Math</label>
                 </br>
                <input class="form-check-input ms-3" type="checkbox" value="Foundation Math" id="subject2" name="subject">
                <label class="form-check-label" for="flexCheckDefault">Foundation Math</label>
                  </br>
                <input class="form-check-input ms-3" type="checkbox" value="Standard Science" id="subject3" name="subject">
                <label class="form-check-label" for="flexCheckDefault">Standard Science</label>
                </br>
                <input class="form-check-input ms-3" type="checkbox" value="Foundation Science" id="subject4" name="subject">
                <label class="form-check-label" for="flexCheckDefault">Foundation Science</label>
            <% } %>
        </div>

        <h1>Details</h1>
        <div class="row">
          <div class="col">
            <h4>Student</h4>
            <div class="mb-3">
              <label for="childName" class="form-label focus">Name*</label>
              <input type="text" class="form-control" id="childName" name="childName"<% if (clone && clone.childName) { %>
                value="<%= clone.childName %>"
             <% } %>>
            </div>
            <div class="mb-3">
                <label for="childSurname" class="form-label focus">Surname*</label>
                <input type="text" class="form-control" id= "childSurname" name="childSurname"<% if (clone && clone.childSurname) { %>
                  value="<%= clone.childSurname %>"
               <% } %>> 
           </div>
        
            <div class="mb-3">
              <label for="DOB" class="form-label focus">Date of birth*</label>
              <% if (clone && clone.DOB) { %>
              <input type="date" class="form-control" id="DOB" name="DOB" value="<%= clone.DOB.getFullYear() %>-<%= (clone.DOB.getMonth()+1).toString().padStart(2, 0) %>-<%= clone.DOB.getDate().toString().padStart(2, 0) %>">
             </div>
           <% } else { %>
              <input type="date" class="form-control" id="DOB" name="DOB">
             </div>
           <% } %>
           <div class="mb-3">
            <label for="level" class="form-label focus">Level (For year <%= new Date().getFullYear() %>)*</label>
            <select class="form-select" aria-label="Default select example" id="level" name="level">
              <% if (clone && clone.level) { %>
                <option value="<%= clone.level %>"selected><%= clone.level %></option>
              <% } else { %>
                <option selected>Choose level</option>
              <% } %>
              <option value="p1">p1</option>
              <option value="p2">p2</option>
              <option value="p3">p3</option>
              <option value="p4">p4</option>
              <option value="p5">p5</option>
              <option value="p6">p6</option>
          </select>
           </div>
           <div class="mb-3">
            <label for="gender" class="form-label focus">Gender*</label>
            <select class="form-select" aria-label="Default select example" id="gender" name="gender">
              <% if (clone && clone.gender) { %>
                <option value="<%= clone.gender %>"selected><%= clone.gender %></option>
              <% } else { %>
                <option selected>Choose</option>
              <% } %>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
           <div class="mb-3">
            <label for="school" class="form-label focus">School*</label>
            <% if (clone && clone.school) { %>
              <input type="text" class="form-control" name="school" id="school" value="<%= clone.school %>"> 
            <% } else { %>
              <input type="text" class="form-control" id="school" name="school"> 
            <% } %>
           </div>
          </div>
          <div class="col">
            <h4>Parent/Guardian 1</h4>
           <div class="mb-3">
            <label for="parentOneName" class="form-label focus">Name*</label>
            <input type="text" class="form-control" id="parentOneName" name="parentOneName" <% if (clone) { %>
              value="<%= clone.parentOneName %>"
             <% } %>>
            <!-- <div name="parentName" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <div class="mb-3">
            <label for="parentOneSurname" class="form-label focus">Surname*</label>
            <input type="text" class="form-control" id="parentOneSurname" name="parentOneSurname"<% if (clone) { %>
              value="<%= clone.parentOneSurname %>"
             <% } %>>
            <!-- <div name="parentName" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <div class="mb-3">
            <label for="roleOne" class="form-label focus">Role*</label>
            <input type="text" class="form-control" id="roleOne" placeholder="Father / Mother etc" <% if (clone) { %>
              value="<%= clone.roleOne %>"
             <% } %>>
            <!-- <div id="parentName" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <div class="mb-3">
            <label for="ContactOne" class="form-label focus">Contact Number*</label>
            <input type="text" class="form-control" id="contactOne"<% if (clone) { %>
              value="<%= clone.contactOne %>"
             <% } %>>
            <!-- <div id="parentName" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <div class="mb-3">
            <label for="email" class="form-label focus">Email*</label>
            <input type="text" class="form-control" id="emailOne"<% if (clone) { %>
              value="<%= clone.emailOne %>"
             <% } %>>
            <!-- <div id="parentName" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <!-- <div class="mb-3">
            <label for="address" class="form-label focus">Street Address (Must fill in for Private Home Tuition)</label>
            <input type="text" class="form-control" id="address"<% if (clone) { %>
              value="<%= clone.address %>"
             <% } %>>
          </div>
          <div class="mb-3">
            <label for="postal" class="form-label focus">Postal Code (Must fill in for Private Home Tuition)</label>
            <input type="text" class="form-control" id="postal"<% if (clone) { %>
              value="<%= clone.postal %>"
             <% } %>>
          </div> -->
        </div>
            <div class="col">
              <h4>Parent/Guardian 2</h4>
              <div class="mb-3">
                  <label for="parentTwoSurname" class="form-label">Name</label>
                  <input type="text" class="form-control" id="parentTwoName" <% if (clone) { %>
                    value="<%= clone.parentTwoName %>"
                   <% } %>>
             </div>
            <div class="mb-3">
              <label for="parentTwoSurname" class="form-label">Surname</label>
              <input type="text" class="form-control" id="parentTwoSurname" <% if (clone) { %>
                value="<%= clone.parentTwoSurname %>"
               <% } %>>
              <!-- <div id="parentName" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="roleTwo" class="form-label">Role</label>
              <input type="text" class="form-control" id="roleTwo" placeholder="Father / Mother etc" <% if (clone) { %>
                value="<%= clone.roleTwo %>"
               <% } %>>
              <!-- <div id="parentName" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="ContactTwo" class="form-label">Contact Number</label>
              <input type="text" class="form-control" id="ContactTwo" <% if (clone) { %>
                value="<%= clone.contactTwo %>"
               <% } %>>
              <!-- <div id="parentName" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
          </div>
        </div>
        <h1>Questions</h1>
        
        <div class="mb-3">
          <label for="questionA" class="form-label">Most recent result (if any)</label>
          <% if (clone && clone.questionA) { %>
            <input type="text" class="form-control" id="questionA" placeholder="30/40 or 75%" value="<%= clone.questionA %>">
          <% } else { %>
            <input type="text" class="form-control" id="questionA" placeholder="30/40 or 75%">
          <% } %>
        </div>
        <div class="mb-3">
          <label for="questionB" class="form-label focus">Do you want your child to receive homework?*</label>
          <select class="form-select" aria-label="Default select example" id="questionB">
            <% if (clone && clone.questionB) { %>
              <option value="<%= clone.questionB %>"selected><%= clone.questionB %></option>
            <% } else { %>
              <option selected value="">Choose</option>
            <% } %>
            <option value="Yes">Yes (Please ensure that he/she completes the work)</option>
            <option value="No">No (Expect slower progression).</option>
        </select>
        </div>
      
        <div class="mb-3">
          <label for="questionC" class="form-label">Does your child have any learning disabilities?</label>
          <% if (clone && clone.questionC) { %>
            <textarea type="text" class="form-control" id="questionC" placeholder="If no, leave blank. If yes, please tells us more."><%= clone.questionC %></textarea>
          <% } else { %>
            <textarea type="text" class="form-control" id="questionC" placeholder="If no, leave blank. If yes, please tells us more."></textarea>
          <% } %>
       </div>
       <div class="mb-3">
        <label for="questionD" class="form-label">Is this your child's first time attending tuition for the subject that you are interested in signing him/her up for?</label>
        <% if (clone && clone.questionD) { %>
          <textarea type="text" class="form-control" id="questionD" placeholder="If yes, leave blank. If no, please tells why you did not continue there?"  ><%= clone.questionD %></textarea>
        <% } else { %>
          <textarea type="text" class="form-control" id="questionD" placeholder="If yes, leave blank. If no, please tells why you did not continue there?"></textarea>
        <% } %>
       </div>
       <div class="mb-3">
        <label for="questionE" class="form-label focus">What should we do if your child misbehavies?</label>
        <% if (clone && clone.questionE) { %>
          <textarea type="text" class="form-control" id="questionE" placeholder="Fill in the blank"><% clone.questionE %></textarea>
        <% } else { %>
          <textarea type="text" class="form-control" id="questionE" placeholder="Fill in the blank"></textarea>
        <% } %>
       
       </div>
       <div class="mb-3">
        <label for="questionF" class="form-label focus" >Do you allow physical punishment?*</label>
        <select class="form-select" aria-label="Default select example" id="questionF">
          <% if (clone && clone.questionF) { %>
            <option value="<%= clone.questionF %>"selected><%= clone.questionF %></option>
          <% } else { %>
            <option selected value="">Choose</option>
          <% } %>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

       <% if (clone && clone.edit == 1){ %>
        <button class="btn btn-secondary">Save</button>
       <% } else { %>
        <button type="submit" class="btn btn-primary submit">Submit</button>
       <% } %>
        

     </form>
</div>
 
</body>
<script>
  let toapayoh = document.querySelector(".toapayoh").textContent
  let hougang = document.querySelector(".hougang").textContent
//   let private = document.querySelector(".private").textContent
  toapayoh = toapayoh.split(";")
  hougang = hougang.split(";")
//   private = private.split(";")
  console.log(toapayoh)
  toapayoh.forEach((item, index) => {
    toapayoh[index] = item.trim()
  })
  hougang.forEach((item, index) => {
    hougang[index] = item.trim()
  })
//   private.forEach((item, index) => {
//     private[index] = item.trim()
//   })
  toapayoh.pop()
  hougang.pop()
//   private.pop()

  // let hougang = ["Hougang"]
  // console.log(toapayoh.trim())
  const outlet = ["Toa Payoh", "Hougang"]
  let slct1 = document.getElementById("slct1")
  let slct2 = document.getElementById("slct2")

  outlet.forEach(function addOutlet(item){
    let option = document.createElement("option")
    option.text = item
    option.value = item
    slct1.appendChild(option)
  })

  slct1.onchange = function () {
    slct2.innerHTML = "<option></option>"
      if (this.value == "Toa Payoh"){
        addToSlct2(toapayoh)
      }
      if (this.value == "Hougang"){
        addToSlct2(hougang)
      }
    //   if (this.value == "Private"){
    //     addToSlct2(private)
    //   }
  }

  function addToSlct2(arr){
    arr.forEach(function (item){
      let option = document.createElement("option")
      option.text = item;
      option.value = item;
      slct2.appendChild(option)
    })
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
  let click = 0
  document.querySelector('.submit').addEventListener("click", function(e){
    e.preventDefault()
    if (click == 0){
      click += 1
     

let subjects = []
console.log(e)
console.log($("#subject1").val())
if ($("#subject1").is(":checked")) subjects.push($("#subject1").val())
if ($("#subject2").is(":checked")) subjects.push($("#subject2").val())
if ($("#subject3").is(":checked")) subjects.push($("#subject3").val())
if ($("#subject4").is(":checked")) subjects.push($("#subject4").val())

let newTrial = {
  outlet: $("#slct1").val(),
  timing: $("#slct2").val(),
  otherTiming: $("#otherTiming").val(),
  subject: subjects,
  childName:$("#childName").val(),
  childSurname:$("#childSurname").val(),
  DOB:$("#DOB").val(),
  level:$("#level").val(),
  gender:$("#gender").val(),
  school:$("#school").val(),
  parentOneName:$("#parentOneName").val(),
  parentOneSurname:$("#parentOneSurname").val(),
  roleOne:$("#roleOne").val(),
  contactOne:$("#contactOne").val(),
  emailOne:$("#emailOne").val(),
  parentTwoName:$("#parentTwoName").val(),
  parentTwoSurname:$("#parentTwoSurname").val(),
  roleTwo:$("#roleTwo").val(),
  contactTwo:$("#contactTwo").val(),
  questionA:$("#questionA").val(),
  questionB:$("#questionB").val(),
  questionC:$("#questionC").val(),
  questionD:$("#questionD").val(),
  questionE:$("#questionE").val(),
  questionF:$("#questionF").val(),

}
console.log("Submitting trial form")
console.log(newTrial)

$.ajax({
  url: "/trial/new",
  method: "Post",
  data: newTrial,
  success: function(res){
    console.log(res)
    if (res.status == "Failed"){
      click = 0

      let error = res.errorMsg.join("\n")
      
      alert(error)
    } else {
      window.location.replace("/trial/end");
    }
  },
  error: function(res){
    console.log("Failed!")
  }

})
    }
   
  })
</script>
</html>