<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
  <link rel="stylesheet" href="/css/navbar-styles.css">
   <link rel="icon" href="/images/favicon.ico?v=1.1">

  
  <title>All Interventions</title>
</head>
<body>
  <%- include("../partials/navbar"); %>

  <div class="container mt-3">
      <a href="intervention/create"> <btn class="btn btn-primary">New</btn></a>
      <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th>Level</th>
                <th>Setting</th>
                <th>Mode</th>
                <th>Quantity</th>
                <th>Date</th>
                <th colspan="2">Quantity</th>
            </tr>
        </thead>
        <% interventions.forEach(item => { %>
            <tr>
                <td><%= item.student %></td>
                <td><%= item.level %></td>
                <td><%= item.setting %></td>
                <td>
                    <% if (item.mode == "Easy") { %>
                        <btn class="btn btn-success">Easy</btn>
                    <% } else if (item.mode == "Normal") { %>
                        <btn class="btn btn-secondary">Normal</btn>
                    <% } else { %>
                        <btn class="btn btn-danger">Hardcore</btn>
                    <% } %> 
                   </td>
                <td><%= item.quantity %></td>
                <td><%= item.date.toLocaleDateString("en-GB") %></td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        <% }) %>

      </table>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="/javascript/confirmation.js"></script>
</html>