<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
  <link rel="stylesheet" href="/css/navbar-styles.css">
   <link rel="icon" href="/images/favicon.ico?v=1.1">

  
  <title>All users</title>
</head>
<body>
  <%- include("../partials/navbar"); %>

  <div class="container">
  <h1>Users</h1>
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Admin</th>
        <th scope="col">Username</th>
        <th scope="col">Points</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">DOB</th>
        <th scope="col">Gift</th>
        <th scope="col">Last login</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <% allUsers.forEach(item => { %>
            <tr>
              <% if (item.admin) { %>
                <td><%= "⭐️" %></td>
              <% } else { %>
                <td></td>
              <% } %>
                <td><a href="/attempts/filter/?user=<%= item.username %>&level=&setting=&mode=" target="_blank"><%= item.username %></a></td>
                <td><%= item.points %></td>
                <td><%= item.email %></td>
                <td><%= new Date().getFullYear()- item.DOB.getFullYear() %></td>
                <td><%= item.DOB.toLocaleDateString('en-GB') %></td>
                <td><%= item.gift %></td>
                <% if (item.loggedIn) { %>
                  <% if (item.loggedIn.toLocaleDateString() == new Date().toLocaleDateString()) { %>
                    <td><%= item.loggedIn.toLocaleTimeString('en-US') %>, Today</td>
                 <% } else { %>
                    <td><%= item.loggedIn.toLocaleTimeString('en-US') + " " + item.loggedIn.toLocaleDateString('en-GB') %> </td>
                <%  } %>
               <%  } else { %>
                  <td></td>
                <% } %>
                <td><a href="/user/edit/?username=<%= item.username %>">Edit</a></td>
                <td class="deleteUser"><a href="/user/delete/<%= item._id %>">Delete</a></td>
            </tr>
        <% }) %>

    </tbody>
  </table>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="/javascript/confirmation.js"></script>
</html>