<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/attempts-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">
    <title>Document</title>
</head>
<body>
  <!-- <div class="container"> -->
    <%- include("../partials/navbar") %>
  <!-- </div> -->

  <!-- FILTER -->
  <div class="container my-4">
<form action="/attempts/filter" method="/GET">
  <label for="user">User:</label>
  <input type='text' name="user" class="filter-user"></input>
  <label for="level">Level:</label>
  <input type='text' name="level" class="filter-level"></input>
  <label for="setting">Setting:</label>
  <input type='text' name="setting" class="filter-setting"></input>
  <button type="submit">Filter</button>
</form>
  </div>
<div class="container">
<table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Time</th>
        <th scope="col">Mistakes</th>
        <th scope="col">Score</th>
        <th scope="col">Setting</th>
        <th scope="col">Extra</th>
        <th scope="col">Date</th>
        <th scope="col">Ago</th>
      </tr>
    </thead>
    <tbody>
      <% const today = new Date().getDay() %>
        <% attempts.forEach(item => { %>
          <!-- const date = `${item.date.getDay()}/${item.date.getMonth()} ` -->
            <tr>
                <!-- <th scope="row">1</th> -->
                <td><%= item.user %></td>
                <td><%= item.level %></td>
                <% if ( item.time > 600) { %>
                <td class="text-danger"><%=   item.time  %></td>
                <% } else { %>
                <td><%=   item.time %></td> 
                <% } %>
                <td><%= item.mistake %></td>
                <td><%= item.score %></td>
                <td><%= item.setting %></td>
                <td><%= item.extra %></td>
                <!-- <td><%= item.date.getFullYear() %></td> -->
                <td><%= item.date.toLocaleTimeString('en-US') + " " + item.date.toLocaleDateString() %></td>
                <!-- <td><%= item.date.getHours() %></td> -->
                <td><%= today - item.date.getDay() %></td>
            </tr>
            <% });%>
    </tbody>
  </table>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script type="module" src="/javascript/filter_attempt.js"></script>
</html>