<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/attempts-styles.css">
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">
     <% if (filteredUser != "") { %>
    <title><%= filteredUser %>'s Results</title>
  <% } else { %>
    <title> Results </title>
  <% } %>
</head>
<body>
  <!-- <div class="container"> -->
    <%- include("../partials/navbar") %>
    <%- include("../partials/rewardLog") %>

  <!-- FILTER -->
  <div class="container my-4">
    <form action="/attempts/filter" method="/GET">
        <div class="row">
          <div class="col-sm-2 my-2">
            <label for="user">User:</label>
            <input type='text' name="user"></input>
          </div>
          <div class="col-sm-2 my-2">
           <label for="level">Level:</label>
            <input type='text' name="level"></input>
          </div>
          <div class="col-sm-2 my-2">
            <label for="setting">Setting:</label>
            <input type='text' name="setting"></input>
          </div>
          <div class="col-sm-2 my-2">
            <label for="mode">Mode:</label>
            <input type='text' name="mode"></input>
            <!-- <select class="form-select" data-bs-toggle="dropdown">
              <options>Normal</options>
              <options>Easy</options>
              <options>Hardcore</options>
            </select> -->
           </div> 

      </div>
      <div class="row">
      <div class="d-flex col align-items-center">
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
     </div>
    </form>
  </div>
  <div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if (paginatedAttempts.pagination.previousPage > 0) { %>
      <li class="page-item"><a class="page-link" href="/attempts?page=<%= paginatedAttempts.pagination.previousPage %>">Previous</a></li>
      <% } %>
      <li class="page-item"><p class="page-link" href=""><%= paginatedAttempts.pagination.currentPage %></p></li>
      <% if (paginatedAttempts.pagination.nextPage <= paginatedAttempts.pagination.totalPages){ %>
      <li class="page-item"><a class="page-link" href="/attempts?page=<%= paginatedAttempts.pagination.nextPage %>">Next</a></li>
      <% } %>
    </ul>
  </nav>
</div>



<div class="container">
  <div class="row">
    <div class="col-3">
  <% if (todayCount) { %>
    <h3>Today: <%= todayCount %></h3>
  <% } %>
  <h1>Recent</h1>
  </div>
  <div class="col-8">
    <!-- <ul> -->
      🎈 Maximum of 6 daily attempt to earn points.</br>
      🎈 10 points deducted per day after 1 day of inactivity.</br>
      ❄️ If your points are <span class="text-primary">blue</span> instead of <span class="text-warning">orange</span>, it means that it has been frozen. No points will be lost during this period.</br>
    <!-- </ul> -->
  </div>
</div>
<table class="table text-center table-hover">
    <thead class="thead-dark">

      <tr>
        <th scope="col">Award</th>
        <th scope="col">Points</th>
        <th scope="col">Name</th>
        <th scope="col">Mode</th>
        <th scope="col">Level</th>
        <th scope="col">Setting</th>
        <th scope="col">Skip</th>
        <th scope="col">Time</th>
        <th scope="col">Mistakes</th>
        <th scope="col">Score</th>
        <th scope="col">Extra</th>
        <th scope="col">Date</th>
        <th scope="col">Ago</th>
        <th scope="col">Summary</th>
        <% if (currentUser.admin) { %>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        <% } %>
       
      </tr>
    </thead>
    <tbody>
      <% const today = new Date().getDay() %>
      
        <% attempts.forEach((item, index) => { %>
          <div class="summary hidden text-center">
            <h1>Summary</h1>
            
          <% if (item.summary == "") { %>
            <%= "Blank" %>
          <% } else { %>
            <!-- <table class="table"> -->
              <!-- <thead>
                <tr> -->
                <!-- <th scope="col">Attempt</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th> -->
              <!-- </tr> -->
              <!-- </thead> -->
              <div class="row">
                <div class="col">Attempt</div>
                <div class="col">Setting</div>
                <div class="col">Status</div>
                <div class="col">Time</div>
              </div>
           <% JSON.parse(item.summary).forEach(item => { %>
            <div class="row">
                <div class="col">
                <%= item.attempt %>
              </div>
              <div class="col">
                <%= item.setting %>
              </div>
              <div class="col">
                <%= item.symbol %>
              </div>
              <div class="col">
                <%= item.time %>
              </div>
          </div>
           <% }) %>
           <% } %>
           <button class="summaryCloseBtn btn btn-danger">Close</button>
        </div>
        <!-- </table> -->
         

          
                <tr>
                  <% if (item.subject == "Math") { %>
                  <% if (item.award == "High") { %>
                    <td><img src="/images/high-score.png" class="award-size"></td>
                  <% } else if (item.award == "Platinum") { %>
                    <td><img src="/images/endgame/platinum.jpeg" class="award-size"></td>
                  <% } else if (item.award == "Gold") { %>
                    <td><img src="/images/endgame/gold.jpeg" class="award-size"></td>
                  <% } else if (item.award == "Silver") { %>
                    <td><img src="/images/endgame/silver.jpeg" class="award-size"></td>
                  <% } else if (item.award == "Bronze") { %>
                    <td><img src="/images/endgame/bronze.jpeg" class="award-size"></td>
                  <% } else { %>
                    <td></td>
                  <% } %>
                  <% if ( item.points != 0) { %>
                    <td><%= item.points %></td>
                  <% } else { %>
                    <td></td>
                  <% } %>
                <td><a href="/attempts/filter/?user=<%= item.user %>&level=&setting=&mode="><%= item.user %></a></td>
                <% if ( item.mode == "Easy") {%>
                  <td class="btn btn-outline-success btn-sm"> <%= "Easy" %></td>
                <% } %>
                <% if ( item.mode == "Hardcore") { %>
                  <td class="btn btn-outline-danger btn-sm"> <%= "Hardcore" %></td> 
              <% } %>
                <% if ( item.mode == "Normal") { %>
                  <td class="btn btn-outline-dark btn-sm"> <%= "Normal" %></td>
                  <% } %>
                <!-- <td><%= item.mode %></td> -->
                <td><%= item.level %></td>
                <% if (item.setting == "0" || item.setting == " "){ %>
                  <td><%= " " %></td>
                <% }  else { %>
                  <td><%= item.setting %> </td>
                <% } %>
                <td><%= item.skip %></td>
                <% if (item.mode == "Normal" && item.time >= 600) { %>
                  <td>🚩</td>
                <% } else if (item.mode == "Hardcore" && item.time >= 600 ) { %> 
                  <td>🚩</td>
                <% } else if ( item.time > 300) { %>
                <td class="text-danger"><%= item.time  %></td>
                <% } else { %>
                <td><%= item.time %></td> 
                <% } %>
                <td><%= item.mistake %></td>
                <td><%= item.score %></td>
                <% if (item.extra == "" && item.tries > 1) { %>
                  <td class='table-success'>
                <% } else if (item.extra != "" && item.tries > 1 ) { %>
                  <td class="table-warning">
                <% } else if (item.extra != "" && item.tries == 1 ) { %>
                  <td class="table-danger">
                <% } else { %>
                  <td>
                <% } %>
                
                <%= item.extra %></td>
                <!-- <td><%= item.date.getFullYear() %></td> -->
                <td><%= item.date.toLocaleTimeString('en-US') + " " + item.date.toLocaleDateString('en-GB') %></td>
                <!-- <td><%= item.date.getHours() %></td> -->
                <% if (new Date().toLocaleDateString('en-US') == item.date.toLocaleDateString('en-US')) { %>
                  <td><%= "Today" %></td>
                <% } else { %>
                  <td><%= Math.floor((new Date() - item.date)/(1000*60*60*24)) %></td>
                <% } %>
                
                 <% } %>

                <% if (item.subject == "Science") { %>
                  <td></td>
                  <td></td>
                  <td><%= item.user %></td>
                  <td colspan=6>Science</td>
                  <td><%= item.score %></td>
                  <td></td>
                  <td><%= item.date.toLocaleTimeString('en-US') + " " + item.date.toLocaleDateString('en-GB') %></td>
                  <!-- <td><%= item.date.getHours() %></td> -->
                  <% if (new Date().toLocaleDateString('en-US') == item.date.toLocaleDateString('en-US')) { %>
                    <td><%= "Today" %></td>
                  <% } else { %>
                    <td><%= Math.floor((new Date() - item.date)/(1000*60*60*24)) %></td>
                  <% } %>
                <% } %>  

                <td class="click-summary"><%= "📜" %></td>
                <% if (currentUser.admin) { %>
                  <td><a href="/attempts/edit/<%= item._id %>">Edit</a></td>
                  <td><a href="/attempts/delete/<%= item._id %>">Delete</a></td>
                <% } %>
            </tr>
            <% });%>
    </tbody>
  </table>
</div>

<% if (latestAttemptObj) { %>
  
<div class="container">
  <h1> Unique Latest Attempts </h1>
<table class="table text-center table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Award</th>
        <th scope="col">Points</th>
        <th scope="col">Name</th>
        <th scope="col">Mode</th>
        <th scope="col">Level</th>
        <th scope="col">Setting</th>
        <th scope="col">Skip</th>
        <th scope="col">Time</th>
        <th scope="col">Mistakes</th>
        <th scope="col">Score</th>
        <th scope="col">Extra</th>
        <th scope="col">Date</th>
        <th scope="col">Ago</th>
      </tr>
    </thead>
    <tbody>
      <!-- <% const today = new Date().getDay() %> -->
        <% latestAttemptObj.forEach(item => { %>
          
            <tr>
                <!-- <th scope="row">1</th> -->
                <% if (item.award == "High") { %>
                  <td><img src="/images/high-score.png" class="award-size"></td>
                <% } else if (item.award == "Platinum") { %>
                  <td><img src="/images/endgame/platinum.jpeg" class="award-size"></td>
                <% } else if (item.award == "Gold") { %>
                  <td><img src="/images/endgame/gold.jpeg" class="award-size"></td>
                <% } else if (item.award == "Silver") { %>
                  <td><img src="/images/endgame/silver.jpeg" class="award-size"></td>
                <% } else if (item.award == "Bronze") { %>
                  <td><img src="/images/endgame/bronze.jpeg" class="award-size"></td>
                <% } else { %>
                  <td></td>
                <% } %>
                <% if ( item.points != 0) { %>
                  <td><%= item.points %></td>
                <% } else { %>
                  <td></td>
                <% } %>
                <td><%= item.user %></td>
                <% if ( item.mode == "Easy") {%>
                  <td class="btn btn-outline-success btn-sm"> <%= "Easy" %></td>
                <% } %>
                <% if ( item.mode == "Hardcore") { %>
                  <td class="btn btn-outline-danger btn-sm"> <%= "Hardcore" %></td> 
              <% } %>
                <% if ( item.mode == "Normal") { %>
                  <td class="btn btn-outline-dark btn-sm"> <%= "Normal" %></td>
                  <% } %>
                <!-- <td><%= item.mode %></td> -->
                <td><%= item.level %></td>
                <% if (item.setting == "0" || item.setting == " "){ %>
                  <td><%= " " %></td>
                <% }  else { %>
                  <td><%= item.setting %> </td>
                <% } %>
                <td><%= item.skip %></td>
                <% if (item.mode == "Normal" && item.time >= 600) { %>
                  <td>🚩</td>
                <% } else if (item.mode == "Hardcore" && item.time >= 600 ) { %> 
                  <td>🚩</td>
                <% } else if ( item.time > 300) { %>
                <td class="text-danger"><%= item.time  %></td>
                <% } else { %>
                <td><%= item.time %></td> 
                <% } %>
                
                <td><%= item.mistake %></td>
                <td><%= item.score %></td>
                <td><%= item.extra %></td>
                <td><%= item.date.toLocaleTimeString('en-US') + " " + item.date.toLocaleDateString('en-US') %></td>
                <!-- <td><%= item.date.getFullYear() %></td> -->
                <% if (new Date().toLocaleDateString('en-US') == item.date.toLocaleDateString('en-US')) { %>
                  <td><%= "Today" %></td>
                <% } else { %>
                  <td><%= Math.floor((new Date() - item.date)/(1000*60*60*24)) %></td>
                <% } %>
            </tr>
            <% });%>
    </tbody>
  </table>
</div>
<% }  %>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<!-- <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script> -->
<script type="module" src="/javascript/filter_attempt.js"></script>
</html>