<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
  <link rel="stylesheet" href="/css/navbar-styles.css">
   <link rel="icon" href="/images/favicon.ico?v=1.1">

  
  <title>All users</title>
</head>
<body>
    <%- include('../partials/navbar') %>
  

    <div class="container">
        
        <div class="row">
            <div class="col-md-5 mx-auto">
                <h1>Edit User</h1>
                <div class="card card-body">
                    <form id="submitForm" action="/user/edit/save" method="post" data-parsley-validate="" data-parsley-errors-messages-disabled="true" novalidate="" _lpchecked="1"><input type="hidden">
                        <div class="form-group required" style="display: none;">
                            <label for="username">Username</label>
                            <input type="text" class="form-control text-lowercase" id="username" required="" name="username" value="<%= editUser.username %>">
                        </div>  
                        <div class="form-group required">
                            <label for="email">Email</label>
                            <input type="email" class="form-control text-lowercase" id="email" required="" name="email" value="<%= editUser.email %>">
                        </div>  
                        <div class="form-group required">
                            <label for="DOB">DOB (Date of Birth)</label>
                            <input type="date" class="form-control" id="email" required="" name="DOB" value="<%= editUser.DOB.getFullYear() %>-<%= (editUser.DOB.getMonth()+1).toString().padStart(2, 0) %>-<%= editUser.DOB.getDate().toString().padStart(2, 0) %>">
                        </div>                      
                    <!-- <div class="form-group required">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" required="" name="password">
                    </div>   
                    <div class="form-group required">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm-password" required="" name="confirmPassword">
                    </div> -->
                        <div class="form-group py-1">
                        <button class="btn btn-primary btn-block" type="submit">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>