<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
  <link rel="stylesheet" href="/css/navbar-styles.css">
   <link rel="icon" href="/images/favicon.ico?v=1.1">

  
  <title>All users</title>
</head>
<body>
    <%- include('../partials/navbar') %>
  

    <div class="container">
        
        <div class="row">
            <div class="col-md-5 mx-auto">
                <h1>Edit User</h1>
                <div class="card card-body">
                    <form id="submitForm" action="/user/edit/save/<%= editUser._id %>" method="post" data-parsley-validate="" data-parsley-errors-messages-disabled="true" novalidate="" _lpchecked="1"><input type="hidden">
                        <!-- <div class="form-group required" style="display: none;"> -->
                        <% if (currentUser.admin) { %>
                            <!-- <div class="form-group required"> -->
                            <p>Special Access</p>
                            <div class="form-group form-check">
                                <input class="form-check-input" type="checkbox" name="admin" value="true"
                                <% if (editUser.admin) { %>
                                     checked
                                <% } %>> 
                                <label class="form-check-label" for="flexCheckDefault">
                                  Super Admin
                                </label>
                            </div> 
                            <div class="form-group form-check">
                                <input class="form-check-input" type="checkbox" name="teacher" value="true"
                                <% if (editUser.teacher) { %>
                                    value="true" checked> 
                                <% } %>>
                                <label class="form-check-label" for="flexCheckDefault">
                                  Teacher
                                </label>
                            </div>  
                            <div class="form-group form-check">  
                                <input class="form-check-input" type="checkbox" name="subject_admin" 
                                <% if (editUser.subject_admin) { %>
                                    value="true" checked> 
                                <% } %>>
                                <label class="form-check-label" for="flexCheckDefault">
                                  Subject Admin
                                </label>
                              </div>
                              <!-- </div> -->
                              <div class="form-group form-check">  
                                <input class="form-check-input" type="checkbox" name="private" value="true"
                                <% if (editUser.private) { %>
                                  checked
                                <% } %>>
                                <label class="form-check-label" for="flexCheckDefault">
                                  Private
                                </label>
                              </div>
                        <% } %>
                        <% if (currentUser.admin){ %>
                            <div class="form-group required">
                                <label for="username">Username</label>
                                <input type="text" class="form-control text-lowercase" id="username" required="" name="username" value="<%= editUser.username %>">
                            </div>
                            <div class="form-group required">
                                <label for="perSession">Cost per session</label>
                                <input type="number" class="form-control" id="perSession" required="" name="perSession" value="<%= editUser.perSession %>">
                            </div>
                            <% if (editUser.endDate) { %>
                                <div class="form-group required">
                                    <label for="endDate">Last Lesson</label>
                                    <input type="date" class="form-control" id="endDate" required="" name="endDate" value="<%= editUser.endDate.getFullYear() %>-<%= (editUser.endDate.getMonth()+1).toString().padStart(2, 0) %>-<%= editUser.endDate.getDate().toString().padStart(2, 0) %>">
                                </div>
                            <% } else { %>
                                <div class="form-group required">
                                    <label for="endDate">Last Lesson</label>
                                    <input type="date" class="form-control" id="endDate" required="" name="endDate" value="">
                                </div>
                            <% } %>
                           
                        <% } else { %>
                            <div class="form-group required">
                                <label for="username">Username</label>
                                <input type="text" class="form-control text-lowercase" id="username" required="" name="username" value="<%= editUser.username %>" readonly>
                            </div>   
                        <% } %>
                           
                        <div class="form-group required">
                            <label for="email">Email</label>
                            <input type="email" class="form-control text-lowercase" id="email" required="" name="email" value="<%= editUser.email %>">
                        </div>  
                        <div class="form-group required">
                            <label for="DOB">DOB (Date of Birth)</label>
                            <input type="date" class="form-control" id="DOB" required="" name="DOB" value="<%= editUser.DOB.getFullYear() %>-<%= (editUser.DOB.getMonth()+1).toString().padStart(2, 0) %>-<%= editUser.DOB.getDate().toString().padStart(2, 0) %>">
                        </div>   
                        <div class="form-group required">
                            <label for="DOB">Gift</label>
                            <input type="number" class="form-control" id="gift" required="" name="gift" value="<%= editUser.gift %>">
                        </div> 
                        <div class="row">
                            <div class="col">
                        <div>Days</div>
                        <% days.forEach(item => { %>
                            <% if (editUser.day.includes(item)) { %>
                                <div class="form-group form-check">
                                    <input class="form-check-input" type="checkbox" value="<%= item %>" id="flexCheckChecked" name="day" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        <%= item %>
                                    </label>
                                </div> 
                            <% } else { %>
                                <div class="form-group form-check">
                                    <input class="form-check-input" type="checkbox" value="<%= item %>" id="flexCheckDefault" name="day">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <%= item %>
                                    </label>
                                </div>
                            <% } %>
                        <% }) %> 
                    </div>
                    <div class="col">
                        <div>Subject</div>
                            <% subjects.forEach(item => { %>
                                <% if (editUser.subject.includes(item)  ) { %>
                                    <div class="form-group form-check">
                                        <input class="form-check-input" type="checkbox" value="<%= item %>" id="flexCheckChecked" name="subject" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                            <%= item %>
                                        </label>
                                    </div> 
                                <% } else { %>
                                    <div class="form-group form-check">
                                        <input class="form-check-input" type="checkbox" value="<%= item %>" id="flexCheckDefault" name="subject">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <%= item %>
                                        </label>
                                    </div>
                                <% } %>
                            <% }) %> 
                        </div>
                        </div>       
                    <div class="form-group required">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" required="" name="password">
                    </div>   
                    <div class="form-group required">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm-password" required="" name="confirmPassword">
                    </div>                   
                       
                    <div class="form-group form-check">
                        <p>Freeze
                            <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="freeze" value="true" <% if (editUser.freeze){ %>
                    checked
                            <% } %>>
                            <label class="form-check-label" for="flexCheckDefault">
                            </label>
                        </p>    
                        
                            <label for="freezeEndDate">Freeze Date End</label>
                            <% if (editUser.freezeEndDate) { %>
                                <input type="date" class="form-control" required="" name="freezeEndDate" value="<%= editUser.freezeEndDate.getFullYear() %>-<%= (editUser.freezeEndDate.getMonth()+1).toString().padStart(2, 0) %>-<%= editUser.freezeEndDate.getDate().toString().padStart(2, 0) %>">
                            <% } else { %>
                                <input type="date" class="form-control" required="" name="freezeEndDate">
                            <% } %>     
                    </div>
                        <div class="form-group py-1">
                        <button class="btn btn-success btn-block" type="submit">Save</button>
                        <button class="btn btn-secondary" href="/attempts">Back</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>