<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/navbar-styles.css">
   <link rel="icon" href="/images/favicon.ico?v=1.1">

   <style>

     .operations__content {
       display: none;
     }
     .operations__content--active {
       display: grid;
     }
   </style>
  
  <title>All-Time-Highscore</title>
</head>
<body>
  <%- include("../partials/navbar"); %>

  <% const today = new Date().getDay() %>
<% const dataArr = [sevenArr, eightArr, nineArr, tenArr, elevenArr, twelveArr] %>
  <div class="container operations">
    <h1> All Time</h1>
    <div class="operations__tab-container">
      <% dataArr.forEach((item, index) => { %>
        <% if (index == 0) { %>
          <button class="btn btn-primary operations__tab operations__tab--<%= `${index+1}` %> operations__tab--active" data-tab="<%= `${index+1}` %>">
        <% } else { %>
          <button class="btn btn-outline-primary operations__tab operations__tab--<%= `${index+1}` %> operations__tab--active" data-tab="<%= `${index+1}` %>">
        <% } %>
     
          Primary <span><%=`${index+1}` %></span>
        </button>
      <% }) %>
    </div>
    <% dataArr.forEach((item, index) => { %>
    
      <% if (index == 0){ %>
      
        <div class="mt-5 operations__content operations__content--<%= `${index+1}` %> operations__content--active">
      <% }  else { %>
        <div class="mt-5 operations__content operations__content--<%= `${index+1}` %> operations__content">
      <% } %>
      <h2>Primary <%= index+1 %></h2>
        <table class="table text-center table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Mode</th>
              <th scope="col">Level</th>
              <th scope="col">Setting</th>
              <th scope="col">Time</th>
              <th scope="col">Mistakes</th>
              <th scope="col">Score</th>
              <th scope="col">Extra</th>
              <th scope="col">Date</th>
              <th scope="col">Ago</th>
            </tr>
          </thead>
          <tbody>
            <% item.forEach(item => { %>
              
              <tr>
              <td><%= item.user %></td>
              <% if ( item.mode == "Easy") {%>
                <td class="btn btn-outline-success btn-sm"> <%= "Easy" %></td>
              <% } %>
              <% if ( item.mode == "Hardcore") { %>
                <td class="btn btn-outline-danger btn-sm"> <%= "Hardcore" %></td> 
              <% } %>
              <% if ( item.mode == "Normal") { %>
                <td class="btn btn-outline-dark btn-sm"> <%= "Normal" %></td>
              <% } %>
              <td><%= item.level %></td>
              <td><%= item.setting %></td>
              <td><%= item.time %></td>
              <td><%= item.mistake %></td>
              <td><%= item.score %></td>
              <td><%= item.extra %></td>
              <!-- <td><%= item.date.getFullYear() %></td> -->
              <td><%= item.date.toLocaleTimeString('en-US') + " " + item.date.toLocaleDateString('en-GB') %></td>
              <% if (new Date().toLocaleDateString('en-US') == item.date.toLocaleDateString('en-US')) { %>
                <td><%= "Today" %></td>
              <% } else { %>
                <td><%= Math.floor((new Date() - item.date)/(1000*60*60*24)) %></td>
              <% } %>
              </tr>
          <% });%>
          </tbody>
        </table>
      </div>
      
    
    <% }) %>
   
      
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <!-- <script type="module" src="/javascript/filter_attempt.js"></script> -->
  <script>
    const tabs = document.querySelectorAll(".operations__tab")
    const tabsContainer = document.querySelector(".operations__tab-container")
    const tabsContent = document.querySelectorAll(".operations__content")

    tabsContainer.addEventListener("click", function(e){
      //FINDS THE CLOSEST PARENTS WITH THIS CLASS NAME
      const clicked = e.target.closest(".operations__tab");
      // console.log(e.target.data)

      //GUARD CLAUSE
      if (!clicked) return;
      tabs.forEach((t, index) => {
       
        if (clicked.dataset.tab == index + 1){
          t.classList.add("btn-primary")
          t.classList.remove("btn-outline-primary")
        } else {
          t.classList.remove("btn-primary")
          t.classList.add("btn-outline-primary")
        }
      })
      // clicked.classList.add("operations__tab--active")
      console.log(clicked)

      //ACTIVATE ACTIVE AREA
      console.log(clicked.dataset.tab)
      tabsContent.forEach(t => {
        t.classList.remove("operations__content--active")
      })
      document.querySelector(`.operations__content--${clicked.dataset.tab}`).classList.add("operations__content--active")
    })
  </script>
  </html>