<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/attempts-styles.css">
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">

    <title>Recommended</title>
</head>
<body>
    <%- include("../partials/navbar") %>
    
    <div class="container">
        <h1>Recommendation</h1>
        <h3>Still a work in progress.</h3>
        <p>
          1 cumulative bonus point is added for every completion from below. <i>(eg. If 1 is completed, +1. If 2 is completed, +2.)</i><br>
          15 bonus points if all are completed.</br>
        </p>
        <table class="table text-center">
            <thead>
              <tr>
                <th colspan="4">Recommend</th>
                <th colspan="4">Previous</th>
              </tr>
              <tr>
                <th scope="col">Done</th>
                <th scope="col">Award</th>
                <th scope="col">Mode</th>
                <th scope="col">Level</th>
                <th scope="col">Setting</th>
                <th scope="col">Time</th>
                <th scope="col">Mistake</th>
                <th scope="col">Score</th>
                <th scope="col">Ago</th>
              </tr>
            </thead>
            <tbody>
              <% if (recommend.length != 0) { %>
                <% recommend.forEach(item => { %>
                  <tr>
                    <% if (item.accomplish == true) { %>
                        <td><%= "⭐️" %></td>
                      <% } else { %>
                        <td></td>
                      <% } %>
                    <% if (item.award == "High") { %>
                      <td><img src="/images/high-score.png" class="award-size"></td>
                    <% } else if (item.award == "Platinum") { %>
                      <td><img src="/images/endgame/platinum.jpeg" class="award-size"></td>
                    <% } else if (item.award == "Gold") { %>
                      <td><img src="/images/endgame/gold.jpeg" class="award-size"></td>
                    <% } else if (item.award == "Silver") { %>
                      <td><img src="/images/endgame/silver.jpeg" class="award-size"></td>
                    <% } else if (item.award == "Bronze") { %>
                      <td><img src="/images/endgame/bronze.jpeg" class="award-size"></td>
                    <% } else { %>
                      <td></td>
                    <% } %>
                   
                    <% if ( item.mode == "Easy") {%>
                      <td class="btn btn-outline-success btn-sm"> <%= "Easy" %></td>
                    <% } %>
                    <% if ( item.mode == "Hardcore") { %>
                      <td class="btn btn-outline-danger btn-sm"> <%= "Hardcore" %></td> 
                    <% } %>
                    <% if ( item.mode == "Normal") { %>
                      <td class="btn btn-outline-dark btn-sm"> <%= "Normal" %></td>
                    <% } %>
                    <td><%= item.level %></td>
                    <td><%= item.setting %></td>
                    <td><%= item.time %></td>
                    <td><%= item.mistake %></td>
                    <td><%= item.score %></td>
                    <td><%= Math.floor((new Date() - item.date)/(1000*60*60*24)) %></td>
                  </tr>
                <% }) %>
              <% } else { %>
                <td colspan="5">Empty... Do something...</td>
              <% } %>

            </tbody>
          </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>