<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <% if (searchedUser && searchedUser != "Not found") { %>
        <title><%= searchedUser.username %>'s Summary</title>
    <% } else { %>
        <title>Summary</title>
    <% } %>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">

</head>
<body>
    <%- include("../partials/navbar"); %>
    <div class="container mt-4">
        <form action="/user/summary/" method="get">
            <div class="form-group required mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control text-lowercase" required="" name="username" placeholder="ðŸ” eg. aixl lim">
            </div>    
            <button type="submit" class="btn btn-primary">Search</button>
            <a class="btn btn-danger" href="/user/summary">Clear</a>
        </form>
        <% if (searchedUser == "Not found") { %>
            <h1>There is no such student.</h1>
        <% } else if (searchedUser) { %>


            <% const nameA = searchedUser.username.split(" ")[0] %>
            <% const nameB = searchedUser.username.split(" ")[1] %>
         
            <h1> Summary for <u><%= nameA.charAt(0).toUpperCase() %><%= nameA.slice(1, nameA.length) %> <%= nameB.charAt(0).toUpperCase() %><%= nameB.slice(1, nameB.length) %></u></h1>
            <h2>Arithmetic Practice</h2>
                 <a href="/attempts/filter?user=<%= searchedUser.username %>&level=&setting=&mode=" target="_blank" class="btn btn-outline-primary">Results</a>
                <a href="/user/recommend" class="btn btn-outline-primary" target="_blank">Recommendation</a>
               
                <hr>
                <table class="table text-center">
                    <thead class=table-dark>
                    <div class="row">
                        <th scope="col" class="col-2">Last Login: <%= searchedUser.loggedIn.toLocaleDateString("en-GB") %></th>
                        <th scope="col" class="col-2">Count</th>
                        <th scope="col" class="col-2">Level</th>
                        <th scope="col" class="col-2">Calculation</th>
                        <th scope="col" class="col-2">Heuristics</th>
                     </div>
                    </thead>
                   
                    <tr>
                        <td>Today</td>
                        <td><%= todayCount %></td>
                        <td><%= todayLevelCount %></td>
                        <td><%= todayCalCount %></td>
                        <td><%= todayHeuCount %></td>
                    </tr>
                    <tr>
                        <td>This week</td>
                        <td><%= weekCount %></td>
                        <td><%= weekLevelCount %></td>
                        <td><%= weekCalCount %></td>
                        <td><%= weekHeuCount %></td>
                    </tr>
                    <tr>
                        <td>This month</td>
                        <td><%= monthCount %></td>
                        <td><%= monthLevelCount %></td>
                        <td><%= monthCalCount %></td>
                        <td><%= monthHeuCount %></td>
                    </tr>
                    <tr>
                        <td>This year</td>
                        <td><%= yearCount %></td>
                        <td><%= yearLevelCount %></td>
                        <td><%= yearCalCount %></td>
                        <td><%= yearHeuCount %></td>
                    </tr>
                    <tr>
                        <td>All</td>
                        <td rowspan="4"><%= allCount %></td>
                    </tr>
                </table>
            <h2>Written Work</h2>
            <table class="table mb-3 text-center">
                <thead class="table-dark">
                    <th scope="col">Subject</th>
                    <th scope="col">Issued</th>
                    <th scope="col">Description</th>
                    <th scope="col">Issue Date</th>
                    <th scope="col">Due date</th>
                    <th scope="col">Days left</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Status</th>
                <% if (currentUser.admin) { %>
                    <th colspan="3">Actions</th>
                <% } %>
            </thead>
                <% if (homework) { %>
                    <% homework.forEach(item => { %>
                        <!-- Math -->
                        <% if (item.status != "Completed"){ %>
                            <tr>
                                <% if (item.subject == "Math") { %>
                                    <td><button class="btn btn-primary"><%= item.subject %></button></td>
                                <% } else { %>
                                    <td><button class="btn btn-success"><%= item.subject %></button></td>
                                <% } %>
                                <td><%= item.issueTimes %></td>
                                <td>
                                    <%= item.description %></br>
                                    <% if (item.linkA) { %>
                                        <a href="<%= item.linkA %>" target="_blank">Paper</a></br>
                                    <% } %>
                                    <% if (item.linkB) { %>
                                        <a href="<%= item.linkB %>" target="_blank">Answer</a></br>
                                    <% } %>
                                </td>
                                <td><%= item.dateIssue.toLocaleDateString('en-GB') %></td>
                                <% if (item.dueDate) { %>
                                    <td><%= item.dueDate.toLocaleDateString('en-GB') %></td>
                                    <td><%= Math.ceil((item.dueDate - new Date())/(1000*60*60*24)) %></td>
                                 <% } else { %>
                                     <td>Nil</td>
                                     <td>Nil</td>
                                 <% } %>
                                <td><%= item.comment %></td>
                                <td><%= item.status %></td>
                                <% if (currentUser.admin) { %>
                                    <td><a href="/homework/new/<%= item._id %>">Edit</a></td>
                                    <td><a href="/homework/delete/<%= item._id %>/<%= item.name %>">Delete</a></td>
                                <% } %>
                            </tr>
                         <% } %>
                       <!-- SCIENCE -->
                       <% }) %>
                    
                        <% homework.forEach(item => { %>
                            <% if (currentUser.admin == true && item.status == "Completed") { %>
                                <tr class="table-secondary">
                                    <% if (item.subject == "Math") { %>
                                        <td><button class="btn btn-primary"><%= item.subject %></button></td>
                                    <% } else { %>
                                        <td><button class="btn btn-success"><%= item.subject %></button></td>
                                    <% } %>
                                    <td><%= item.issueTimes %></td>
                                    <td>
                                        <%= item.description %></br>
                                        <% if (item.linkA) { %>
                                            <a href="<%= item.linkA %>" target="_blank">Link A</a></br>
                                        <% } %>
                                        <% if (item.linkB) { %>
                                            <a href="<%= item.linkB %>" target="_blank">Link B</a></br>
                                        <% } %>
                                    </td>
                                    <td><%= item.dateIssue.toLocaleDateString('en-GB') %></td>
                                    <% if (item.dueDate) { %>
                                        <td><%= item.dueDate.toLocaleDateString('en-GB') %></td>
                                        <td><%= Math.ceil((item.dueDate - new Date())/(1000*60*60*24)) %></td>
                                     <% } else { %>
                                         <td>Nil</td>
                                         <td>Nil</td>
                                     <% } %>
                                    <td><%= item.comment %></td>
                                    <td><%= item.status %></td>
                                    <td><a href="/homework/new/<%= item._id %>">Edit</a></td>
                                    <td><a href="/homework/delete/<%= item._id %>/<%= item.name %>">Delete</a></td>
                                </tr>
                               <% } %>
                        <% }) %>
                      
                <% } else { %>
                    <tr>
                        No homework, ask for some (:
                    </tr>
                <% } %>               
            </table>
        <% } else { %>
            <h1> Please search for a student.</h1>
        <% } %>
       
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>